@charset "UTF-8";

.banner h1, .clarity-exc h1, .yellow-bg h1, .va h1, .blue-bg h1, .speaker h1, .tradition h1 {
  margin-block: 0.5rem 2.5rem;
  font-size: 3rem;
}

h4 {
  line-height: 1.5;
  letter-spacing: 2px;
}
sup {
  font-size: 1.5rem;
}
.mono-med {
  font-size: 1.2rem;
  margin-block: 0%;
  letter-spacing: 3px;
}



.banner {
  background-image: url('/images/new/gp/banner.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  aspect-ratio: 1920 / 990
}
.banner h1 {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  right: 8%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
.banner .btn-yellow {
  background-color: #004C74;
  color: #fff;
  position: fixed;
  top: 81%;
  right: 5%;
  z-index: 1000;
}

.pink-bg {
  background: #763B45 0% 0% no-repeat padding-box;
  padding-inline: 10%;
  padding-block: 6% 0;
  text-align: center;
}
.pink-bg .bold {
  font-size: 1.6rem;
  margin-block: 3% 0%;
}
.pink-bg .medium-heading {
  margin-block:   1% 0%;
}
.screening {
  width: 60%;
  display: block;
  margin-inline: auto;
  padding-block: 6%;
}


.yellow-bg {
  background: #FCD979 0% 0% no-repeat padding-box;
  border-bottom: 1.5px solid black;
  padding-inline: 20%;
  margin-block-start: -18%;
  padding-block: 16% 5%;
  text-align: center;
}
.yellow-bg .bold {
  font-size: 1.5rem;
}
.yellow-bg .italics {
  font-size: 1.2rem;
}
.yellow-bg h2 {
  font-size: 1rem;
}

.maps-arrow {
  width: 6%;
  margin-inline-start: 3%;
}

.clarity {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding-block: 10%;
  padding-inline: 9%;
  border-top: 1.5px solid #282828;
  border-bottom: 1.5px solid #282828;
}
.clarity .row {
  gap: 5%;
}
.clarity p {
}
.clarity img {
	width: 22%;
  padding-block-start: 15%;
}
.vr {
  width: 1px;
  background-color: #D6A9B0;
}
.quote {
  background-image: url('/images/new/gp/bg.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-inline: 20%;
  padding-block: 10%;
  aspect-ratio: 320 / 173;
  position: relative;
  border-bottom: 1.5px solid #282828;
}
.quote h1 {
  font-size: 2.5rem;
  line-height: 1.8;
}
.quote h2 {
  letter-spacing: 2px;
}
.quote-content {
  position: absolute;
  top: 37%;
  width: 60%;
  text-align: center;
}

.va {
  background-image: url('/images/new/yajna/gita.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  width: 100%;
  aspect-ratio: 1920 / 1237;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.va-para {
  width: 30%;
  background: #FCD979 0% 0% no-repeat padding-box;
  padding-inline: 10% 5%;
  padding-block: 4%;
  position: absolute;
  bottom: 8%;
}

.blue-bg {
	/*background-color: rgba(161, 199, 204, 0.75);*/
  background-color: #004C74;
	padding-block: 7%;
	padding-inline: 10%;
	border-bottom: 1.5px solid black;
  text-align: center;
}
.blue-bg h1 {
  color: #EBDAC5;
}
.blue-bg h2 {
  color: #FCD979
}
.blue-bg p {
  color: #fff;
  width: 75%;
  display: block;
  margin-inline: auto;
  text-align: center;
}
.blue-bg sup {
  font-size: 0.8rem;
}

.cream-bg {
  background-color: #EBDAC5;
  border-right: 1.5px solid black;
}

.talk-images img {
  width: 33.3%;
  border-left: 1.5px solid black;
}
.beige-bg {
  background: #EADAC5 0% 0% no-repeat padding-box;
  opacity: 0.25;
}

.speaker {
  background-color: #FCD979;
	padding-block: 10%;
  padding-inline: 10%;
}
.speaker p {
  width: 80%;
}
.speaker .row-rev-col {
  align-items: center;
}
.speaker .row {
  padding-block: 10% 0%;
  gap: 5%;
}
.speaker img {
  width: 100%;
  display: block;
  margin-inline: auto;
}
.speaker .logos {
  width: 70%;
  float: left;
}
.article-link {
  text-decoration: none;
  color: #282828;
}
.speaker .link-arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 1px;
  vertical-align: 0;
  background: url("../images/new/gp/arrow.png") no-repeat center;
  background-size: contain;
}
.article-nav {
  display: none;
}
.articles-wrapper p {
  font-size: 1rem;
  width: 95%;
}

/* Youtube video popup */
.video-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.popup-content {
  position: relative;
  width: 90%;
  max-width: 900px;
  background: #000;
  padding: 0;
  overflow: hidden;
}
.close-vid-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 10;
}
#youtubeVideo {
  width: 100%;
  height: 450px;
  display: block;
}
@media (max-width: 600px) {
  #youtubeVideo {
    height: 250px;
  }
}

.tradition {
	padding-inline-start: 10%;
}
.tradition .row-rev-col {
  align-items: center;
}
.tradition p {
	width: 80%;
}
.tradition img {
	width: 100%;
  display: block;
}

.moments {
  background-color: #FCD979;
}
.moments .row {
  align-items: center;
  justify-content: center;
  padding-block: 2%;
  gap: 5%;
}

/* Slider */
.slider { 
  position: relative; 
  overflow: hidden; 
  min-height: 23rem;
}
.slides { 
  display: flex; 
  transition: transform 0.6s ease; 
  height: 100%; 
  gap: 0%;
}
.slide { 
  flex: 0 0 100%;
}
.slide img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.slide picture {
  display: block;
  width: 100%;
  height: 100%;
}
.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
  transition: 0.3s;
}
.dot.active {
  background: #fff;
  transform: scale(1.2);
}

/* Slider ends */

.register {
  border-top: 1.5px solid black;
}
.register .cream-bg h1 {
  padding-inline: 15%;
}
.register .cream-bg, .register .yellow-bg {
  padding-block: 5%;
  padding-inline: 5%;
  opacity: 1;
  border-bottom: 0;
  border-left: 0;
  text-align: left;
  width: 50%;
}
.register .yellow-bg {
  margin-block-start: 0%;
}


@media only screen and (max-width: 768px) {

  .w-30 {
    width: 100%;
  }
  .mob-row {
    display: flex;
    flex-direction: row;
  }

  .clarity-exc h1, .yellow-bg h1, .va h1, .blue-bg h1, .speaker h1, .tradition h1, .moments h1, .register .blue-bg h1 {
    /*margin-block: 0.5rem 2rem;*/
    /*font-size: 3rem;*/
  }
  .pink-bg .medium-heading, .clarity .medium-heading, .speaker .medium-heading, .tradition .medium-heading, .register .medium-heading {
    font-size: 2.5rem !important;
    font-weight: normal;
  }
  .register .cream-bg h1 {
    padding-inline: 0%;
  }

  p {
    line-height: 1.4;
  }

  .banner {
    position: relative;
    aspect-ratio: 540 / 720;
    padding-block: 20% 5%;
    overflow: hidden;
  }
  .banner-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .banner h1 {
    margin-block: 0.5rem 2rem;
    font-size: 3.5rem;
    text-align: center;
    right: 15%;
  }

  .screening {
    width: 100%;
    padding-block: 10%;
  }

  .yellow-bg {
    padding-block: 35% 15%; 
    padding-inline: 10%;
    margin-block-start: -35%;
  }
  .maps-arrow {
    width: 4%;
    margin-inline-start: -7%;
  }
  .yellow-bg .align {
    width: 100%;
  }
  .yellow-bg .bold {
    font-size: 1.3rem;
  }

  .talk-images .w-50, .talk-images .beige-bg {
    width: 50%;
  }
  .talk-images img {
    width: 100%;
    border-bottom: 0;
    border-top: 0;
    display: block;
    object-fit: contain;
  }
  .talk-images .row-row {
    border-bottom: 1.5px solid black;
  }

  .clarity {
    padding-block: 15%;
    padding-inline: 8%;
    border-top: 0;
  }
  .clarity .w-50 {
    padding-block: 5%;
  }
  .clarity img {
    width: 25%;
  }

  .vr {
    margin-inline: 5%;
    margin-block-start: 10%;
  }


  .va {
    background-image: none;
    background-color: rgba(161, 199, 204, 0.75);
    border-bottom: 0;
    border-top: 0;
  }
  .va-para {
    width: 83%;
    position: relative;
    margin-block-start: -13%;
    padding-block: 15%;
    padding-inline: 6%;
  }
  .va img {
    width: 100%;
  }

  .blue-bg {
    padding-inline: 6%;
    padding-block: 15%;
    
  }
  .blue-bg p {
    width: 100%;
  }

  .quote {
    background-image: url('/images/new/gp/bg-mob.png');
    aspect-ratio: 393 / 602;
    text-align: center;
    margin-inline: 0%;
    padding-inline: 5%;
    padding-block: 10%;
  }

  .speaker {
    background-size: 70% auto;
    background-position: 35% 5%;
    padding-block: 15% 0%;
    padding-inline: 6%;
  }
  .speaker h1, .speaker h2 {
    padding-inline: 0%;
  }
  .speaker h2 {
    font-size: 1rem;
  }
  .speaker .w-50 {
    width: 100%;
    padding-inline: 0%;
  }
  .speaker p {
    width: 100%;
    padding-inline: 0%;
  }
  .speaker h3 {
    font-size: 2rem;
  }
  .speaker img {
    padding-block: 5%;
  }
  .speaker .logos {
    width: 100%;
    display: block;
    margin-inline: auto;
  }
  .speaker .row {
    gap: 5%;
  }

  .articles-wrapper {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
  }
  .articles-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 0.4s ease;
    margin: 0;
    width: 190%;
    padding-inline: 5%;
  }
  .articles-slider .article-slide .w-25 {
    width: calc((100% - 12px) / 2) !important;
    min-width: calc((100% - 12px) / 2) !important;
    flex: 0 0 calc((100% - 12px) / 2) !important;
    max-width: calc((100% - 12px) / 2) !important;
    padding: 0;
  }
  .article-card {
    width: 100%;
    padding-inline: 6%;
  }
  .article-nav {
    display: block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 5;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .article-nav img {
    width: 20px;
    height: 20px;
  }
  .article-prev {
    left: 0px;
  }

  .article-next {
    right: 0px;
  }

  .quote {
    padding-block: 10% 5%;
  }
  .quote-content {
    width: 90%;
    top: 25%;
  }
  .quote h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .tradition {
    padding-inline: 0%;
    padding-block: 15%;
  }
  .tradition .w-40, .tradition .w-55 {
    width: 100%;
  }
  .tradition p {
    width: 90%;
    padding-inline: 5%;
  }

  .moments {
    padding-block: 12% 0%;
  }
  .slider {
    min-height: auto;
    overflow: hidden;
  }
  .slides { 
    gap: 0%; 
  }
  .slide { 
    flex: 0 0 100%; 
  }
  .controls {
    width: 20%;
  }

  .register .cream-bg, .register .yellow-bg {
    width: 88%;
    padding-block: 10%;
    border-top: 0;
    border-left: 0;
    padding-inline: 6%;
    text-align: left;
  }
  .register .cream-bg {
    border-bottom: 1.5px solid black;
  }
  
}