@charset "UTF-8";

.banner h1, .clarity-exc h1, .yellow-bg h1, .va h1, .blue-bg h1, .speaker h1, .tradition h1 {
  margin-block: 0.5rem 2.5rem;
  font-size: 3rem;
}
.banner h1 {
  font-family: 'mont-reg' !important;
  font-size: 4.5rem;
  padding-inline: 10%;
  position: absolute;
  top: 20%;
}
h4 {
  line-height: 1.5;
  letter-spacing: 2px;
}
sup {
  font-size: 1.5rem;
}
.mono-med {
  font-size: 1.2rem;
  margin-block: 0%;
  letter-spacing: 3px;
}

.banner {
  position: relative;
  aspect-ratio: 16 / 9;
}
.banner video {
  width: 100%;
  aspect-ratio: 1920 / 1080;
  display: block;
}
.banner .w-50 {
	position: absolute;
	bottom: 7%;
  padding-inline: 10% 0%;
}
.banner h2 {
  color: #D6A9B0;
}
.banner .row {
  align-items: center;
}
.banner h4 {
}
.banner p {
  font-size: 2rem;
  margin-block-start: 2rem;
}
.banner .btn-text {
  display: flex;
  align-items: center;
}
.banner .btn-yellow {
  background-color: #004C74;
  color: #fff;
  position: fixed;
  top: 81%;
  right: 5%;
  z-index: 1000;
}

.yellow-bg {
  background: #FCD979 0% 0% no-repeat padding-box;
  border-bottom: 1.5px solid black;
  padding-inline: 10%;
  padding-block: 6% 5%;
  text-align: center;
}
.yellow-bg .bold {
  font-size: 1.5rem;
}
.yellow-bg h2 {
  font-size: 1rem;
}

.maps-arrow {
  width: 6%;
  margin-inline-start: 3%;
}

.clarity-exc {
  padding-block: 5%;
  padding-inline: 10%;
}
.clarity-exc .row-rev-col {
  align-items: center;
}
.clarity-exc p {
  width: 90%;
}
.clarity-exc img {
	width: 100%;
}

.va {
  background-image: url('/images/new/yajna/gita.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  width: 100%;
  aspect-ratio: 1920 / 1237;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.va-para {
  width: 30%;
  background: #FCD979 0% 0% no-repeat padding-box;
  padding-inline: 10% 5%;
  padding-block: 4%;
  position: absolute;
  bottom: 8%;
}

.blue-bg {
	/*background-color: rgba(161, 199, 204, 0.75);*/
  background-color: #004C74;
	padding-block: 7%;
	padding-inline: 10%;
	border-bottom: 1.5px solid black;
  text-align: center;
}
.blue-bg h1 {
  color: #EBDAC5;
}
.blue-bg h2 {
  color: #FCD979
}
.blue-bg p {
  color: #fff;
  width: 65%;
  display: block;
  margin-inline: auto;
  text-align: center;
}
.blue-bg sup {
  font-size: 0.8rem;
}

.cream-bg {
  background-color: #EBDAC5;
  border-right: 1.5px solid black;
}

.talk-images img {
  width: 33.3%;
  border-left: 1.5px solid black;
}

.quote {
  background-color: rgba(235, 218, 197, 0.5);
  padding-block: 10% 12%;
  text-align: center;
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
}

.speaker {
	padding-block: 0%;
}

.speaker .row, .speaker .row-rev-col {
  align-items: center;
}
.speaker img {
  width: 100%;
  cursor: pointer;
  display: block;
}
.speaker h1, .speaker h2, .speaker p {
  padding-inline: 15%;
}

/* Youtube video popup */
.video-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.popup-content {
  position: relative;
  width: 90%;
  max-width: 900px;
  background: #000;
  padding: 0;
  overflow: hidden;
}
.close-vid-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 10;
}
#youtubeVideo {
  width: 100%;
  height: 450px;
  display: block;
}
@media (max-width: 600px) {
  #youtubeVideo {
    height: 250px;
  }
}

.tradition {
	padding-inline-start: 9%;
}
.tradition .row-rev-col, .tradition .row {
  align-items: center;
}
.tradition p {
	width: 80%;
}
.tradition img {
	width: 100%;
  display: block;
}

.moments {
  background-color: #FCD979;
	padding-inline: 10%;
	padding-block: 5%;
}
.moments .row {
  align-items: center;
  justify-content: center;
  padding-block: 2%;
  gap: 5%;
}

/* Slider */
.slider { 
  position: relative; 
  overflow: hidden; 
  min-height: 23rem;
}
.slides { 
  display: flex; 
  transition: transform 0.6s ease; 
  height: 100%; 
  gap: 0%;
}
.slide { 
  flex: 0 0 100%;
}
.slide img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.controls { 
  /*position: absolute; */
  bottom:0%; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex; 
  gap: 10%;
  width: 6%; 
}
.slide-arrow { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  user-select: none; 
  transition: .3s; 
}
.slide-arrow img {
  width: 100%;
}
.slide-arrow:hover { 
  background: rgba(255,255,255,.3); 
}
/* Slider ends */

.register {
  z-index: 1001;
  position: relative;
  border-top: 1.5px solid black;
}
.register .cream-bg h1 {
  padding-inline: 15%;
}
.register .cream-bg, .register .yellow-bg {
  padding-block: 5%;
  opacity: 1;
  border-bottom: 0;
  border-left: 0;
  text-align: left;
}
.register .yellow-bg {
  padding-inline: 5%;
  width: 50%;
}
.register .blue-bg {
	border-right: 1.5px solid black;
  padding-inline: 10%;
  padding-block: 7rem;
  width: 40%;
}
.register .blue-bg h1 {
  width: 70%;
  font-size: 3.6rem;
}



@media only screen and (max-width: 768px) {

  .banner h1 {
    margin-block: 0.5rem 2rem;
    font-size: 3.5rem;
    padding-inline: 5%;
    top: 15%;
  }
  .clarity-exc h1, .yellow-bg h1, .va h1, .blue-bg h1, .speaker h1, .tradition h1, .moments h1, .register .blue-bg h1
  {
    margin-block: 0.5rem 2rem;
    font-size: 2.2rem;
  }

  p {
    line-height: 1.4;
  }
  .mono-med {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }

  .banner video {
    display: none;
  }
  .banner {
    background-image: url('../images/new/yajna26/banner_mob.jpg');
    aspect-ratio: 1080 / 1920;
    background-size: 100% 100%;
  }
  .banner .w-50 {
    bottom: 12%;
    left: -6%;
  }
  .banner p {
    margin-block-start: 1.2rem;
    font-size: 1.2rem;
  }
  .banner .btn-yellow {
    padding-inline: 6%;
    top: 89%;
    right: 5%;
  }

  .yellow-bg {
    padding-block: 14% 17%; 
  }
  .maps-arrow {
    width: 4%;
    margin-inline-start: -7%;
  }
  .yellow-bg .align {
    width: 100%;
  }
  .yellow-bg .bold {
    font-size: 1.3rem;
  }

  .clarity-exc {
    padding-block: 15%;
    padding-inline: 6%;
  }
  .clarity-exc p {
    width: 100%;
  }
  .clarity-exc img, .speaker img, .tradition img {
    padding-block-end: 2.3rem;
  }

  .va {
    background-image: none;
    background-color: rgba(161, 199, 204, 0.75);
    border-bottom: 0;
    border-top: 0;
  }
  .va-para {
    width: 83%;
    position: relative;
    margin-block-start: -13%;
    padding-block: 15%;
    padding-inline: 6%;
  }
  .va img {
    width: 100%;
  }

  .blue-bg {
    padding-inline: 6%;
    padding-block: 15%;
    
  }
  .blue-bg p {
    width: 100%;
  }

  .quote {
    text-align: center;
    margin-inline: 0%;
    padding-inline: 5%;
  }
  .quote h3 {
    font-size: 1.5rem;
  }

  .speaker {
    background-size: 70% auto;
    background-position: 35% 5%;
    padding-block: 15%;
    padding-inline: 6%;
    border-bottom: 1.5px solid black;
  }
  .speaker h1, .speaker h2 {
    padding-inline: 0%;
  }
  .speaker .w-50 {
    width: 100%;
    padding-inline: 0%;
  }
  .speaker p {
    width: 100%;
    padding-inline: 0%;
  }
  .speaker h3 {
    font-size: 2rem;
  }

  .register {
    border-top: none;
  }
  .register .cream-bg h1 {
    padding-inline: 10%;
  }
  .register .cream-bg {
    border-right: 0;
  }

  .talk-images .w-50, .talk-images .beige-bg {
    width: 50%;
  }
  .talk-images img {
    width: 100%;
    display: block;
  }

  .tradition {
    padding-inline: 6%;
    padding-block: 15%;
  }
  .tradition .row {
    flex-direction: column-reverse !important;
  }
  .tradition .w-40, .tradition .w-55 {
    width: 100%;
  }
  .tradition p {
    width: 100%;
  }

  .moments {
    padding-block: 12% 15%;
  }
  .slider {
    min-height: auto;
  }
  .slides { 
    gap: 2%; 
  }
  .slide { 
    flex: 0 0 100%; 
  }
  .controls {
    width: 20%;
    transform: translateX(0%);
    padding-block: 5%;
  }

  .register .blue-bg h1 {
    width: 70%;
    margin-block: 0.5rem;
  }
  .register .blue-bg, .register .yellow-bg {
    width: 88%;
    padding-block: 10%;
    border-top: 0;
    border-left: 0;
    padding-inline: 6%;
    text-align: left;
  }
  
}